body {
  background: hsl(210, 13%, 16%);
}
#wpcontent {
  padding: 0;
}
#wpbody-content {
  /* padding-bottom: 2rem; */
}
#wpfooter {
  display: none;
}
#nextgenthemes-ads {
  padding: 1.7rem;
  column-width: 40rem;
  column-gap: 1.7rem;
}
@media only screen and (max-device-width: 400px) {

  #nextgenthemes-ads {
    padding-left: 0;
    padding-right: 0;
  }
}
#nextgenthemes-ads,
#nextgenthemes-ads * {
  box-sizing: border-box;
}
#nextgenthemes-ads::after {
  content: "";
  display: table;
  clear: both;
}
#nextgenthemes-ads {
  color: white;
}
#nextgenthemes-ads h1,
#nextgenthemes-ads h2,
#nextgenthemes-ads h3 {
  margin-top: 0;
  color: inherit;
}
#nextgenthemes-ads h1 {
  line-height: 1;
}
#nextgenthemes-ads > a > figure {
  display: block;
}
#nextgenthemes-ads > a > figure > img {
  width: 100%;
  height: auto;
}
#nextgenthemes-ads > a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: hsl(210, 13%, 13%);
  border: 1px solid hsl(207, 48%, 30%);
  transition: box-shadow .3s, background-color .3s, border-color .3s;
  color: #eee;
  font-size: 1.05rem;
  margin-bottom: 2rem;
  line-height: 1.4;
  padding: 1rem;
}
#nextgenthemes-ads > a[href$="mycelium-gear-gateway/"] {
  background-color: #360932;
}
#nextgenthemes-ads > a[href$="arve/"] h2 {
  display: none;
}
#nextgenthemes-ads > a:hover {
  background-color: hsl(210, 13%, 10%);
  box-shadow: 0 0 10px hsla(207, 48%, 50%, 1);
  border-color: hsl(207, 48%, 40%);
}
#nextgenthemes-ads p {
  margin-left: 0 0 .4em;
  font-size: 1rem;
}
#nextgenthemes-ads ul {
  list-style: square;
  font-size: .9rem;
  margin-left: .8rem;
}
#nextgenthemes-ads > a > span {
  position: absolute;
  padding: .6rem 1rem;
  right: 0px;
  bottom: 0px;
  font-size: 2rem;
  color: white;
  background-color: hsl(207, 48%, 30%);
  border-top-left-radius: 6px;
  //transform: rotate(3deg);
}
