/bin           export-ignore
/readme        export-ignore
/tests         export-ignore
/.*            export-ignore
/*.dist        export-ignore
/*.js          export-ignore
/*.neon        export-ignore
/*.xml         export-ignore
/*.yml         export-ignore
/package*.json export-ignore
/tsconfig.json export-ignore

build/* -diff

* text eol=lf
*.gif binary
*.ico binary
*.jpg binary
*.png binary
