/.*        export-ignore
/*.json    export-ignore
/*.lock    export-ignore
/*.xml     export-ignore
/*.yml     export-ignore
/bin/      export-ignore
/tests/    export-ignore
* text eol=lf
*.gif binary
*.ico binary
*.jpg binary
*.png binary
