/bin           export-ignore
/tests         export-ignore
/src           export-ignore
/resources     export-ignore
/.*            export-ignore
/*.yml         export-ignore
/*.xml         export-ignore
/*.dist        export-ignore
/package*.json export-ignore

* text eol=lf
*.gif binary
*.ico binary
*.jpg binary
*.png binary
