<?xml version="1.0"?>
<ruleset name="NGT">
	<description>A custom set of code standard rules to check for WordPress themes.</description>

	<!-- Exclude files and folders. -->
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>

	<!-- Pass some flags to PHPCS:
		 p flag: Show progress of the run.
		 s flag: Show sniff codes in all reports.
	-->
	<arg value="ps"/>
	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>
	<arg name="parallel" value="8"/>
	<file>.</file>
	<!-- Only check the PHP files. -->
	<arg name="extensions" value="php"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="advanced-responsive-video-embedder"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress-Core">
	</rule>

	<rule ref="WordPress-Extra">
		<exclude name="Generic.Functions.FunctionCallArgumentSpacing.TooMuchSpaceAfterComma"/>
		<exclude name="WordPress.Arrays.CommaAfterArrayItem.NoComma"/>
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
		<exclude name="WordPress.NamingConventions.ValidHookName.UseUnderscores"/>
		<exclude name="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents"/>
	</rule>

	<!-- Exclude Generic rules.
	<rule ref="Generic">
		<exclude name="Generic.Arrays.ArrayIndent.KeyIncorrect"/>
		<exclude name="Generic.Arrays.DisallowLongArraySyntax.Found"/>
		<exclude name="Generic.Arrays.DisallowShortArraySyntax.Found"/>
		<exclude name="Generic.Commenting.DocComment.MissingShort" />
		<exclude name="Generic.Files.EndFileNoNewline.Found"/>
		<exclude name="Generic.Files.InlineHTML.Found"/>
		<exclude name="Generic.Files.LineLength.TooLong"/>
		<exclude name="Generic.Files.LowercasedFilename.NotFound"/>
		<exclude name="Generic.Functions.OpeningFunctionBraceBsdAllman.BraceOnSameLine"/>
		<exclude name="Generic.NamingConventions.CamelCapsFunctionName.NotCamelCaps"/>
		<exclude name="Generic.PHP.ClosingPHPTag.NotFound"/>
		<exclude name="Generic.PHP.UpperCaseConstant.Found"/>
		<exclude name="Generic.WhiteSpace.DisallowTabIndent.NonIndentTabsUsed"/>
		<exclude name="Generic.WhiteSpace.DisallowTabIndent.TabsUsed"/>
		<exclude name="Generic.Formatting.NoSpaceAfterCast.SpaceFound"/>
		<exclude name="Generic.WhiteSpace.ArbitraryParenthesesSpacing.SpaceAfterOpen"/>
		<exclude name="Generic.WhiteSpace.ArbitraryParenthesesSpacing.SpaceBeforeClose"/>
		<exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.Found"/>
		<exclude name="Generic.NamingConventions.CamelCapsFunctionName.ScopeNotCamelCaps"/>
	</rule>

	<rule ref="PEAR">
		<exclude name="PEAR.Classes.ClassDeclaration.OpenBraceNewLine"/>
		<exclude name="PEAR.Commenting.ClassComment.Missing"/>
		<exclude name="PEAR.Commenting.ClassComment.MissingAuthorTag"/>
		<exclude name="PEAR.Commenting.ClassComment.MissingCategoryTag"/>
		<exclude name="PEAR.Commenting.ClassComment.MissingLicenseTag"/>
		<exclude name="PEAR.Commenting.ClassComment.MissingLinkTag"/>
		<exclude name="PEAR.Commenting.ClassComment.MissingPackageTag"/>
		<exclude name="PEAR.Commenting.FileComment.InvalidAuthors"/>
		<exclude name="PEAR.Commenting.FileComment.Missing"/>
		<exclude name="PEAR.Commenting.FileComment.MissingCategoryTag"/>
		<exclude name="PEAR.Commenting.FileComment.MissingVersion"/>
		<exclude name="PEAR.Commenting.FunctionComment.Missing"/>
		<exclude name="PEAR.Commenting.FunctionComment.MissingParamComment"/>
		<exclude name="PEAR.Commenting.FunctionComment.SpacingAfterParamName"/>
		<exclude name="PEAR.Commenting.FunctionComment.SpacingAfterParamType"/>
		<exclude name="PEAR.Commenting.InlineComment.WrongStyle"/>
		<exclude name="PEAR.ControlStructures.MultiLineCondition.SpacingAfterOpenBrace"/>
		<exclude name="PEAR.Files.IncludingFile.BracketsNotRequired"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.Indent"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.SpaceBeforeCloseBracket"/>
		<exclude name="PEAR.Functions.FunctionDeclaration.BraceOnSameLine"/>
		<exclude name="PEAR.Functions.FunctionDeclaration.SpaceAfterFunction"/>
		<exclude name="PEAR.NamingConventions.ValidFunctionName.FunctionNameInvalid"/>
		<exclude name="PEAR.NamingConventions.ValidFunctionName.FunctionNoCapital"/>
		<exclude name="PEAR.NamingConventions.ValidFunctionName.ScopeNotCamelCaps"/>
		<exclude name="PEAR.WhiteSpace.ScopeClosingBrace.Line"/>
		<exclude name="PEAR.WhiteSpace.ScopeIndent.IncorrectExact"/>
		<exclude name="PEAR.NamingConventions.ValidVariableName.PrivateNoUnderscore"/>
		<exclude name="PEAR.NamingConventions.ValidFunctionName.PrivateNoUnderscore"/>
	</rule>

	<rule ref="Squiz">
		<exclude name="Squiz.WhiteSpace.MemberVarSpacing.Incorrect"/>
		<exclude name="Squiz.Objects.ObjectInstantiation.NotAssigned"/>
		<exclude name="Squiz.Arrays.ArrayBracketSpacing.SpaceAfterBracket"/>
		<exclude name="Squiz.Arrays.ArrayBracketSpacing.SpaceBeforeBracket"/>
		<exclude name="Squiz.Arrays.ArrayDeclaration.NoComma"/>
		<exclude name="Squiz.Arrays.ArrayDeclaration.NoCommaAfterLast"/>
		<exclude name="Squiz.Classes.ClassDeclaration.OpenBraceNewLine"/>
		<exclude name="Squiz.Commenting.ClassComment.Missing" />
		<exclude name="Squiz.Commenting.FileComment.Missing"/>
		<exclude name="Squiz.Commenting.InlineComment.WrongStyle"/>
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag" />
		<exclude name="Squiz.Commenting.FileComment.WrongStyle" />
		<exclude name="Squiz.Commenting.FunctionComment.Missing" />
		<exclude name="Squiz.Commenting.VariableComment.Missing" />
		<exclude name="Squiz.Commenting.FunctionComment.SpacingAfterParamType"/>
		<exclude name="Squiz.Commenting.ClosingDeclarationComment.Missing"/>
		<exclude name="Squiz.NamingConventions.ValidVariableName.MemberNotCamelCaps"/>
		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar" />
		<exclude name="Squiz.Commenting.InlineComment.WrongStyle"/>
		<exclude name="Squiz.Commenting.PostStatementComment.Found"/>
		<exclude name="Squiz.ControlStructures.ElseIfDeclaration.NotAllowed"/>
		<exclude name="Squiz.ControlStructures.ForEachLoopDeclaration.SpaceAfterOpen"/>
		<exclude name="Squiz.ControlStructures.ForEachLoopDeclaration.SpaceBeforeClose"/>
		<exclude name="Squiz.ControlStructures.ForLoopDeclaration.SpacingAfterOpen"/>
		<exclude name="Squiz.ControlStructures.ForLoopDeclaration.SpacingBeforeClose"/>
		<exclude name="Squiz.ControlStructures.InlineIfDeclaration.NoBrackets"/>
		<exclude name="Squiz.ControlStructures.SwitchDeclaration.BreakIndent"/>
		<exclude name="Squiz.Files.FileExtension.ClassFound"/>
		<exclude name="Squiz.Formatting.OperatorBracket.MissingBrackets"/>
		<exclude name="Squiz.Functions.GlobalFunction.Found"/>
		<exclude name="Squiz.Functions.MultiLineFunctionDeclaration.BraceOnSameLine"/>
		<exclude name="Squiz.Functions.MultiLineFunctionDeclaration.SpaceAfterFunction"/>
		<exclude name="Squiz.NamingConventions.ValidFunctionName.NotCamelCaps"/>
		<exclude name="Squiz.NamingConventions.ValidFunctionName.ScopeNotCamelCaps"/>
		<exclude name="Squiz.NamingConventions.ValidVariableName.NotCamelCaps"/>
		<exclude name="Squiz.NamingConventions.ValidVariableName.StringNotCamelCaps"/>
		<exclude name="Squiz.Operators.ComparisonOperatorUsage.ImplicitTrue"/>
		<exclude name="Squiz.Operators.ComparisonOperatorUsage.NotAllowed"/>
		<exclude name="Squiz.PHP.CommentedOutCode.Found" />
		<exclude name="Squiz.PHP.DisallowBooleanStatement.Found"/>
		<exclude name="Squiz.PHP.DisallowComparisonAssignment.AssignedBool"/>
		<exclude name="Squiz.PHP.DisallowComparisonAssignment.AssignedComparison"/>
		<exclude name="Squiz.PHP.DisallowInlineIf.Found"/>
		<exclude name="Squiz.PHP.EmbeddedPhp.NoSemicolon"/>
		<exclude name="Squiz.WhiteSpace.ControlStructureSpacing.SpacingAfterOpen"/>
		<exclude name="Squiz.WhiteSpace.ControlStructureSpacing.SpacingAfterOpenBrace"/>
		<exclude name="Squiz.WhiteSpace.ControlStructureSpacing.SpacingBeforeClose"/>
		<exclude name="Squiz.WhiteSpace.ControlStructureSpacing.SpaceBeforeCloseBrace"/>
		<exclude name="Squiz.WhiteSpace.FunctionClosingBraceSpace.SpacingBeforeClose"/>
		<exclude name="Squiz.WhiteSpace.FunctionClosingBraceSpace.SpacingBeforeNestedClose"/>
		<exclude name="Squiz.WhiteSpace.FunctionOpeningBraceSpace.SpacingAfter"/>
		<exclude name="Squiz.WhiteSpace.FunctionSpacing.After"/>
		<exclude name="Squiz.WhiteSpace.FunctionSpacing.AfterLast"/>
		<exclude name="Squiz.WhiteSpace.FunctionSpacing.Before"/>
		<exclude name="Squiz.WhiteSpace.FunctionSpacing.BeforeFirst"/>
		<exclude name="Squiz.WhiteSpace.ScopeClosingBrace.ContentBefore"/>
		<exclude name="Squiz.ControlStructures.SwitchDeclaration.EmptyCase"/>
		<exclude name="Squiz.ControlStructures.SwitchDeclaration.SpacingAfterBreak"/>
		<exclude name="Squiz.Arrays.ArrayDeclaration.SingleLineNotAllowed"/>
		<exclude name="Squiz.Commenting.BlockComment.NoCapital"/>
		<exclude name="Squiz.Arrays.ArrayDeclaration.DoubleArrowNotAligned"/>
	</rule> -->

</ruleset>
