<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="tests-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">.</directory>
		</whitelist>
		<blacklist>
			<directory suffix=".php">./vendor/</directory>
			<directory suffix=".php">./tests/</directory>
		</blacklist>
	</filter>
</phpunit>
