<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="tests-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">.</directory>
			<exclude>
				<directory suffix=".php">./vendor/</directory>
				<directory suffix=".php">./node_modules/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
