.arve-wrapper {
	margin-bottom: 1.5em;
	width: 100%;
	overflow: hidden;
}

.arve-wrapper::after {
	content: "";
	display: table;
	clear: both;
}

.arve-wrapper.alignright {
	margin-left: 1.5em;
}

.arve-wrapper.alignleft {
	margin-right: 1.5em;
}

.arve-embed-container {
	position: relative;
	display: block;
	height: 0;
	padding: 0 0 56.25%; /* 16/9 ratio */
	overflow: hidden;
	/* Background image is applied with inline CSS */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	behavior: url(backgroundsize.min.htc); /* IE polyfill for background size */
}

.arve-thumbnail,
.arve-play-btn,
.arve-video {
	position: absolute;
	padding: 0 !important;
	margin: 0 !important;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100% !important;
	width: 100% !important;
	border: 0 !important;
	overflow: hidden !important;
}

.arve-promote-link {
	float: right;
	font-family: "Open Sans", "Sagoe UI", "Arvo", "Lato", Arial, sans-serif;
	font-size: 10px;
}

.arve-hidden {
	display: none;
}
