.arve-wrapper {
	margin-bottom: 1.5em;
	width: 100%;
	overflow: hidden;
}

.arve-wrapper::after {
	content: "";
	display: table;
	clear: both;
}

.arve-wrapper.alignright {
	margin-left: 1.5em;
}

.arve-wrapper.alignleft {
	margin-right: 1.5em;
}

.arve-embed-container {
	position: relative;
	display: block;
	padding: 0;
	overflow: hidden;
}

.arve-thumbnail,
.arve-play-btn,
.arve-iframe {
	position: absolute;
	padding: 0 !important;
	margin: 0 !important;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100% !important;
	width: 100% !important;
	border: 0 !important;
	overflow: hidden !important;
}

.arve-video {
	padding: 0;
	margin: 0;
	width: 100%;
}

.arve-promote-link {
	float: right;
	font-family: "Open Sans", "Sagoe UI", "Arvo", "Lato", Arial, sans-serif;
	font-size: 10px;
}

.arve-hidden {
	display: none;
}
