.arve-wrapper {
	margin-bottom: 20px;
	width: 100%;
	max-width: 100%;
}
.arve-wrapper.alignright {
	margin-left: 20px;
}
.arve-wrapper.alignleft {
	margin-right: 20px;
}

.arve-thumb-wrapper {
	/* Background image is applied with inline CSS */
	background-position: center center;
	background-size: cover;
	background-color: #000;
	position: relative;
	behavior: url(../js/backgroundsize.min.htc); /* IE polyfill for background size */
}

.arve-embed-container {
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	height: 0;
	overflow: hidden;
}

.arve-dailymotionlist-wrapper.arve-normal-wrapper .arve-embed-container { 
	padding-bottom: 72%;
}

.arve-collegehumor-wrapper .arve-embed-container, 
.arve-ustream-wrapper .arve-embed-container { 
	padding-bottom: 61%;
}

.arve-blip-wrapper .arve-embed-container { 
	padding-bottom: 61.4%;
}

.arve-snotr-wrapper .arve-embed-container {
	padding-bottom: 59.8%;
}

.arve-inner {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.arve-play-background {
	background: transparent url(../img/play.png) no-repeat center center;
}
.arve-hidden {
	display: none;
}
.arve-hidden-obj {
	width: 100%;
	height: 100%;
}