:where(.arve-debug, .arve-debug > code) {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	font-family: ui-monospace, monospace;
	font-size: 1em;
	tab-size: 3;
	hyphens: none;
	box-sizing: border-box;
	overflow-x: auto;
}

:where(.arve-debug--dark) {
	padding: clamp(.5rem, 2vw, 2rem);
	background-color: #111;
	color: #eee;
}
