/* stylelint-disable selector-max-id */
div.wp-block-nextgenthemes-arve-block,
div.arve,
#html div.arve {
	display: block;
	width: 100%;
	margin-bottom: 1.5em;

	&::after {
		display: table;
		clear: both;
		content: "";
	}

	&.alignleft {
		margin-top: .4em;
		margin-right: 1.5em;
	}

	&.alignright {
		margin-top: .4em;
		margin-left: 1.5em;
	}

	[hidden],
	&[hidden] {
		display: none;
	}
}

.arve-inner,
#html .arve-inner {
	display: block;
	width: auto;
	padding: 0;
	margin: 0;
}

.arve-embed,
#html .arve-embed {
	position: relative;
	display: block;
	width: 100%;
	max-height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.arve[data-provider="tiktok"] .arve-embed,
#html .arve[data-provider="tiktok"] .arve-embed {
	height: 580px;
}

.arve-embed--has-aspect-ratio,
#html .arve-embed--has-aspect-ratio {
	aspect-ratio: 16 / 9;

	&::after {
		display: block;
		clear: both;
		content: "";
	}
}

.arve-ar,
#html .arve-ar {
	display: block;
}

.arve-thumbnail,
.arve-play-btn,
.arve-iframe {

	&, #html & {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
		padding: 0;
		margin: 0;
		border: 0;
	}
}

.arve-video,
#html .arve-video {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.arve-promote-link,
#html .arve-promote-link {
	float: right;
	font-family: "Open Sans", "Sagoe UI", Arvo, Lato, arial, sans-serif;
	font-size: .8em;
}

// Gutenberg sidebar
.components-button--arve-thumbnail {
	display: block;
	height: auto;
}

@supports (aspect-ratio: 16 / 9) {

	.arve-ar,
	.arve-embed--has-aspect-ratio::after {

		&, #html & {
			display: none;
		}
	}
}

// elegantthemes Divi
.et-fb-tinymce-buttons #arve-btn {
	display: none;
}
